

.container {
  max-width: 90%;
  margin: 0 auto;
}

.button {
  max-width: 100px;
  box-shadow: None;
  background: cadetblue;
  color: #000;
  text-transform: uppercase;
}

.field {
  padding: 20px;
  width: 360px;
  height: 360px;
  margin: 0 auto;
  font-size: 0;


}

.cell {
  width: 56px;
  height: 56px;
  margin: 2px;
  display: inline-block;
}

.cell .hidden-item {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}


.cell .visible {}

.cell .invisible {}